@using GeoTaggr.Core.Countries
@using GeoTaggr.Core.Maps
@using GeoTaggr.Services.Maps
@using GeoTaggr.Services.Tags
@using GeoTaggr.Web.Components.Shared.Buttons
@using GeoTaggr.Web.Components.Shared.Dropdowns
@using GeoTaggr.Web.Components.Shared.Forms
@using GeoTaggr.Web.Components.Shared.Forms.Inputs
@using GeoTaggr.Web.Components.Shared.Forms.Selects

<form>
    @if (CountryOptions != null)
    {
        <div class="mb-3">
            <GtgrSelect
                Label="Country"
                Options="@CountryOptions"
                Required="true"
                Value="@SelectedCountry"
                OnChange="@OnCountrySelected">
            </GtgrSelect>
        </div>
    }    

    @if (TagNameOptions != null)
    {        
        <div class="mb-3">            
            <GtgrInputGroup>
                <GtgrTextInput
                    Id="tag-name"
                    Label="Name"
                    Required="true"
                    Value="@TagInput.Name"
                    OnChange="@(x => TagInput.Name = x)">
                </GtgrTextInput>                
            </GtgrInputGroup>                        
        </div>
    }

    <div class="mb-3">
        <GtgrTextInput
            Label="Value"
            Required="true"
            OnChange="@(x => TagInput.Value = x)">
        </GtgrTextInput>
    </div>

    <div class="mb-3">
        <GtgrTextInput
            HelpText="Use the Google Maps streetview URL"
            Label="Url"
            OnChange="@OnUrlChanged">
        </GtgrTextInput>
    </div>

    <MudGrid Class="mb-3">
        <MudItem xs="6">
            <GtgrNumberInput 
                T="double?"
                Label="Lat"
                Value="@TagInput.Lat"
                OnChange="@(x => TagInput.Lat = x)">
            </GtgrNumberInput>
        </MudItem>
        <MudItem xs="6">
            <GtgrNumberInput 
                T="double?"
                Label="Long"
                Value="@TagInput.Long"
                OnChange="@(x => TagInput.Long = x)">
            </GtgrNumberInput>
        </MudItem>
    </MudGrid>

    <div>
        <GtgrButton
            Type="GtgrButtonType.Primary"
            OnClick="@OnSubmitted">
            Add
        </GtgrButton>
    </div>
</form>

@inject IJSRuntime JSRuntime
@inject IMapService MapService
@code {
    [Parameter]
    public IReadOnlyDictionary<int, Country>? Countries { get; set; }

    [Parameter]
    public IReadOnlyCollection<SelectOption>? CountryOptions { get; set; }

    [Parameter]
    public EventCallback<TagInput> OnSubmit { get; set; }

    [Parameter]
    public IReadOnlyCollection<string>? TagNames { get; set; }

    private string? SelectedCountry { get; set; }

    private TagInput TagInput { get; } = new();

    private IReadOnlyCollection<SelectOption>? TagNameOptions { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        TagNameOptions = TagNames
            ?.Select(x => new SelectOption(x, x))
            .ToArray();
    }

    private void OnCountrySelected(string? countryId)
    {        
        if (int.TryParse(countryId, out int parsed))
        {
            TagInput.CountryId = parsed;
            SelectedCountry = countryId;
        }
        else
        {
            TagInput.CountryId = null;
            SelectedCountry = null;
        }
    }

    private async Task OnSubmitted()
    {
        await OnSubmit.InvokeAsync(TagInput);
    }

    private void OnTagNameSelected(SelectOption option)
    {
        TagInput.Name = option.Text;
    }

    private async void OnUrlChanged(string? url)
    {
        TagInput.Url = url;

        if (MapService.TryParseLocation(url, out Coordinates? coordinates))
        {
            TagInput.Lat = coordinates.Lat;
            TagInput.Long = coordinates.Long;

            string code = await JSRuntime.InvokeAsync<string>("gtgr.maps.getCountryCode", new { lat = TagInput.Lat, @long = TagInput.Long });
            Country? country = Countries
                ?.Values
                .FirstOrDefault(x => string.Equals(x.IsoCode2, code, StringComparison.InvariantCultureIgnoreCase));
            if (country != null)
            {
                SelectedCountry = country.CountryId.ToString();
                TagInput.CountryId = country.CountryId;
                await InvokeAsync(StateHasChanged);
            }
        }
    }
}
